
.tilt-card{
    position: relative;
    display: block;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 1rem;
    z-index: 10;
    transform: translateZ(100px);
}

.tilt-card::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -8rem;
    z-index: 2;
    background: url('../public/assets/tilt-card-back.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: perspective(1000px) translateZ(90px);
}


.background-mid{
    background-image: url("../public/assets/background-mid.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-mid::before{
    content: "";
    background-image: url("../public/assets/background-mid-before.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    right: 0;
}

.background-mid::after{
    content: "";
    background-image: url("../public/assets/background-mid-after.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    top: 100%;
    display: block;
    position: absolute;
    padding-bottom: 15rem;
}

.testimonial-flex{
    flex: 1 0 15%;
    margin: 5px;
}

.testimonial-border{
    border: 4px solid white;
    transform: scale(1.0);
}